@page "/counter"
@inject Blazored.SessionStorage.ISessionStorageService sessionStore

@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        await sessionStore.SetItemAsync<int>(nameof(currentCount), currentCount);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            int? sessionCounter = await sessionStore.GetItemAsync<int>(nameof(currentCount));
            if (sessionCounter == null)
                currentCount = 0;
            else
                currentCount = (int)sessionCounter;
            StateHasChanged();
        }
    }
}
