@page "/klants"
@using Reizen.Domain.Models
@inject IHttpClientFactory httpFactory
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Klanten</PageTitle>

<h1>Hello, world!</h1>
@if (klanten != null)
{
    @foreach (var klant in klanten)
    {
        <p>@klant.Familienaam @klant.Voornaam @klant.Id</p>
    }
}
else
{
    <p>Waiting for data...</p>
}

@code
{
    private ICollection<KlantDTO>? klanten;

    // [Inject]
    // public KlantenService KlantenService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var httpClient = httpFactory.CreateClient();
        klanten = await httpClient.GetFromJsonAsync<ICollection<KlantDTO>>("api/klanten");
    }
}
