@using Microsoft.AspNetCore.Authorization

@page "/ListOfContinents"

@inject IHttpClientFactory _httpFactory
@inject ILogger<ListOfContinents> _logger;

<div class="container">
    <PageTitle>Continents</PageTitle>
    <h2>Choose the continent:</h2>

    @if(Continents != null)
    {
        <ul>
            @foreach (var Continent in Continents)   
            {
                <li><a href="/CountriesOfContinent/@Continent.Name">@Continent.Name  </a></li>
            }
        </ul>
    } 
    else 
    {
        <p>Waiting for data...</p>
    }

</div>

@if (!String.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger">@Error</div>
}

@code 
{
    private string Error { get; set; }

    private IEnumerable<ContinentDTO>? Continents;

    protected override async Task OnInitializedAsync()
    {
        using var httpClient = _httpFactory.CreateClient();
        {
            var result = await HelperRequest.SendGetRequestAndParseJsonAsync<IEnumerable<ContinentDTO>>("api/continents", httpClient);
            if (result.IsSuccessful)
            {
                Continents = result.Value;
            }
            else 
            {
                Error = result.Error;
            }
        }
    }
}