@using Microsoft.AspNetCore.Authorization
@using Reizen.CommonClasses.DTOs

@page "/WerelddeelKeuze"

@inject IHttpClientFactory _httpFactory
@inject ILogger<WerelddeelKeuze> _logger;

@attribute [Authorize]

<AuthorizeView>
    <div class="container">
    <PageTitle>Werelddelen</PageTitle>
    <h2>Choose the continent:</h2>
    @if(Werelddelen != null)
        {
            <ul>
                @foreach (var werelddeel in Werelddelen)   
                {
                    <li><a href="/landenwerelddeel/@werelddeel.Naam">@werelddeel.Naam  </a></li>
                }
            </ul>
        } 
        else 
        {
            <p>Waiting for data...</p>
        }

    </div>
</AuthorizeView> 
@if (!String.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger">@Error</div>
}
@code 
{
    private string Error { get; set; }

    private IEnumerable<WerelddeelDTO>? Werelddelen;

    protected override async Task OnInitializedAsync()
    {
        using var httpClient = _httpFactory.CreateClient();
        {
            var result = await HelperRequest.SendGetRequestAndParseJsonAsync<IEnumerable<WerelddeelDTO>>("api/werelddelen", httpClient);
            if (result.IsSuccessful)
            {
                Werelddelen = result.Value;
            }
            else 
            {
                Error = result.Error;
            }
        }
    }
}