@page "/bestemmingen/{Bestemmingscode}"
@using Reizen.Domain.Models
@inject HttpClient httpClient

@if (reizen != null)
{
    <h3>@reizen.FirstOrDefault()?.Bestemming.Plaats</h3>
    <img src="/bestemmingen/@(reizen.FirstOrDefault()?.Bestemming.Plaats).jpg"/>
    <table class="table">
        <thead>
            <tr>
                <th>Vertrek</th><th>Prijs/person</th><th>Aantal dagen</th><th>Boeken</th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var reis in reizen)
        {
            <tr>
                <td>@reis.Vertrek.ToString()</td><td>@reis.PrijsPerPersoon</td><td>@reis.AantalDagen</td><td><a href="">Boeken</a></td>
            </tr>
        }
        
        </tbody>
    </table>
}
else
{
    <p>Waiting for data...</p>
}
@code {
    [Parameter]
    public string Bestemmingscode { get; set; }

    private IEnumerable<ReisDTO> reizen;

    protected override async Task OnInitializedAsync()
    {
        if (Bestemmingscode != null)
        {
            reizen = await httpClient.GetFromJsonAsync<IEnumerable<ReisDTO>>($"/reizen/{Bestemmingscode}");
        }
    }
}
