@page "/Home"
@rendermode InteractiveServer
@using Reizen.Domain.Models
@inject IHttpClientFactory httpFactory

<PageTitle>Werelddelen</PageTitle>

<h1>Hello, world!</h1>
@if(werelddelen != null)
{
    <ul>
        @foreach (var werelddeel in werelddelen)   
        {

            <li><a href="/werelddelen/@werelddeel.Naam">@werelddeel.Naam  </a></li>
        }
    </ul>
} 
else 
{
    <p>Waiting for data...</p>
}

@code 
{
    private IEnumerable<WerelddeelDTO>? werelddelen;

    // [Inject]
    // public HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync( )
    {
        {
            using var httpClient = httpFactory.CreateClient();
            werelddelen = await httpClient.GetFromJsonAsync<IEnumerable<WerelddeelDTO>>("api/werelddelen");
        }
    }
}