@using Microsoft.AspNetCore.Authorization
@using Google.Apis.Auth.AspNetCore3
@using Microsoft.AspNetCore.Authentication.Cookies
@page "/auth"

@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView> 
     Hello @context.User.Identity?.Name! 
 </AuthorizeView>
