@using Microsoft.AspNetCore.Http
@using Reizen.Domain.Models
@using global::GoogleAccess.Domain.Models
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication
@using System.Text.Json
@using Models
@using Microsoft.AspNetCore.Identity;
@using Data

@page "/GoogleAccess"

@rendermode @(new InteractiveServerRenderMode(prerender:false))

@inject IJSRuntime JSRuntime;
@inject ILogger<GoogleStuff> _logger;
@inject IHttpClientFactory _factory;
@inject NavigationManager _navManager;
@inject AuthenticationStateProvider _authStateProvider;
@inject IHttpContextAccessor _httpContextAccessor;
@inject UserManager<ApplicationUser> UserManager
@inject Blazored.SessionStorage.ISessionStorageService _storage;
<AuthorizeView>

    <button @onclick="OpenTabAndPollSession">Share Photos</button>

    @if (mediaItems is not null && mediaItems.mediaItems.Count() > 0)
    {
        foreach (var item in mediaItems.mediaItems)
        {
            <a href="@($"{item.mediaFile.baseUrl}=w{item.mediaFile.mediaFileMetadata.width}-h{item.mediaFile.mediaFileMetadata.height}")" >@item.mediaFile.filename</a>
        }
        var last = mediaItems.mediaItems.Last();
        @* DownloadFileFromUrl(last.mediaFile.filename, last.mediaFile.baseUrl+"=d"); *@
    }
    @* <script> *@
    @*     window.triggerFileDownload = (fileName, url) => { *@
    @*     const anchorElement = document.createElement('a'); *@
    @*     anchorElement.href = url; *@
    @*     anchorElement.download = fileName ?? ''; *@
    @*     anchorElement.click(); *@
    @*     anchorElement.remove(); *@

    @*     } *@
    @* </script> *@

</AuthorizeView>
@if (Error != null)
{
    <div class="alert alert-danger">@Error</div>
}
@code
{
    private string? Error { get; set; }

    private CancellationToken token = new();

    [Parameter]
    public PickingSession? SessionData { get; set; }

    [Parameter]
    public string? AccessToken { get; set; }

    public DetailsFiles? mediaItems { get; set; }

    // Test method
    private async Task DownloadFileFromUrl(string filename, string fileURL) 
    {
        await JSRuntime.InvokeVoidAsync("triggerFileDownload", filename, fileURL);
    }

    // Checking wether user is authenticated. If so we assume there is a access token to request a Picker session
    protected override async Task OnInitializedAsync()
    {
        _logger.LogInformation("-- OnInitialized called --");
        if (_httpContextAccessor?.HttpContext?.User?.Identity?.IsAuthenticated == true)
        {
            await GetPickerSession();
        }
        else {
            Error = "Please authenticate";
        }
    }

    protected override void OnParametersSet()
    {
        _logger.LogInformation("++ OnParametersSet called ++");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _logger.LogInformation($"** OnAfterRender called with firstrender = {firstRender} **");

        if (!firstRender && SessionData != null)
        {
            _logger.LogInformation($"  Setting background state to: {SessionData.pickerUri}  ");
        }
    }

    // Requesting the Picker session
    private async Task GetPickerSession()
    {
        var httpClient = new HttpClient(new CustomAuthDelegatingHandler(_httpContextAccessor, UserManager));
        httpClient.BaseAddress = new Uri("https://localhost:7285/");
        var result = await httpClient.GetAsync("/api/Test/GetPickerLink");
        if (result.IsSuccessStatusCode)
        {
            SessionData = await JsonSerializer.DeserializeAsync<PickingSession>(await result.Content?.ReadAsStreamAsync());
        }
        else
        {
            var content = await result.Content.ReadAsStringAsync();
            if (!String.IsNullOrEmpty(content))
            {
                Error = content;
            }
            else
            {
                Error = "Something went wrong.";
            }
        }
    }
    // method to have a new tab opened for the picker session
    public async Task OpenTabAndPollSession()
    {
        await JSRuntime.InvokeVoidAsync("open", $"{SessionData.pickerUri}", "_blank");
        await PollRequest(SessionData.id);
    }

    // Calling the API method that polls the request and returns the media files details
    private async Task PollRequest(string id)
    {
        _logger.LogInformation($"Running PollRequest at {DateTime.UtcNow.ToShortTimeString()}");

        using (var client = new HttpClient(new CustomAuthDelegatingHandler(_httpContextAccessor, UserManager)))
        {
            client.BaseAddress = new Uri("https://localhost:7285/");
            var response = await client.GetAsync($"api/Test/GetPhotosWithPicker/{id}");
            if (response.IsSuccessStatusCode)
            {
                mediaItems = await JsonSerializer.DeserializeAsync<DetailsFiles>(await response.Content?.ReadAsStreamAsync());
            }
            else
            {
                var content = await response.Content.ReadAsStringAsync();
                if (!String.IsNullOrEmpty(content))
                {
                    Error = content;
                }
                else
                {
                    Error = "Something went wrong.";
                }
                //StateHasChanged();
            }
        }
        _logger.LogInformation($"Exiting PollRequest at {DateTime.UtcNow.ToShortTimeString()}");
        StateHasChanged();
    }
}