@using BlazorApp1.Components.Account
@using Microsoft.AspNetCore.Authentication

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Models

@page "/"

@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor _context;
@inject AuthenticationStateProvider _auth
@inject ILogger<Home> _logger;

@rendermode InteractiveServer

<PageTitle>Home </PageTitle>
<div class="container">
<h1>Hello! </h1>
    Welcome to my Blazor app. Here you'll find some projects I am currently working on.
<ul>
    <li>Trips is a somewhat simple Web API project simulating a trip booking application. I am trying to implement CQRS and Event streaming - currently only part of the CQRS is implemented.</li>
    <li>Google access is a Google API project where you can download fotos from your Google Photos cloud storage, view some recent mail messages and delete these. You'll have to authenticate with Google and authorize the application in order to access this functionality. </li>
    <li>Things that will be added (not necessarily in this order):
        <ul>
            <li>
                Role based authorization
            </li>
            <li>
                Event streaming - in Trips
            </li>
            <li>
                Domain layer - in Trips
            </li>
            <li>
                Some more Google API functionality - in Google access
            </li>
            <li>
                OAuth 2.0 access token refresh - in Google access
            </li>

        </ul>
    </li>
    </ul>
</div>

@code{

}