@using Microsoft.Extensions.Caching.Memory
@using Reizen.CommonClasses
@using BlazorApp1.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@page "/tripSelect"

@rendermode InteractiveServer

@inject IHttpClientFactory _httpFactory
@inject ILogger<ListOfContinents> _logger
@inject Blazored.SessionStorage.ISessionStorageService _sessionStorage
@inject IMemoryCache _storage;

<div class="container">
    <div class="row">

        <div class="col col-md-4">
            <BootstrapDropdownWithCallback Options="optionsContinents" Label="Continent" @bind-OptionSelected="SelectedContinent" AdditionalCallback="ContinentChangeCallback"/>
        </div>        
        <div class="col col-md-4">
            <BootstrapDropdownWithCallback Options="optionsCountries" Label="Country" @bind-OptionSelected="SelectedCountry" AdditionalCallback="CountryChangeCallback" />
        </div>
    </div>
    @if (countryDestinations?.Count() > 0) {
        <img src="/vlaggen/@(SelectedCountry).png" />
        <div class="row">
        <h4>Available destinations:</h4>
        </div>
        <ul>
            @foreach (var destination in countryDestinations)
            {
                <li>
                    <div class="row">
                        <div class="col col-md-4">
                            <a href="/@destination.Code/trips">@destination.PlaceName</a>
                        </div>
                        <div class="col col-md-4">
                            @if (tripsToDestination?[destination.Code]?.Count() > 0)
                            {
                                <span> - @(tripsToDestination[destination.Code].Count()) available trips</span>
                            }
                            else
                            {
                                <span> - no available trips</span>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    }        
    else
    {
        <p>Waiting for data...</p>
    }
</div>

@code {
    private Dictionary<string, int?> optionsContinents;

    private Dictionary<string, int?> optionsCountries;

    private List<DestinationDTO>? countryDestinations = new List<DestinationDTO>();

    private Dictionary<string, IEnumerable<TripDTO>> tripsToDestination;

    // Storing only selected continent and selected country serverside
    private string? selectedCountry;
    private string? SelectedCountry 
    { 
        get 
        {
            return selectedCountry ??= _storage.Get<string>("selectedCountry");
        }
        set 
        {
            if (value != null)
            {
                selectedCountry = value;
                _storage.Set<string>("selectedCountry", value);
            }
        } 
    }

    private string? selectedContinent;
    private string? SelectedContinent
    {
        get
        {
            return selectedContinent ??= _storage.Get<string>("selectedContinent");
        }
        set
        {
            if (value != null)
            {
                selectedContinent = value;
                _storage.Set<string>("selectedContinent", value);
            }
        }
    }

    private string Error { get; set; }

    private async Task ContinentChangeCallback(string optionContinent) 
    {
        await PopulateCountriesDropdownAsync(optionContinent);
        SelectedCountry = optionsCountries.Keys.First();
        await GetCountryDestinationsAsync(SelectedCountry);
    }

    private async Task CountryChangeCallback(string optionCountry) 
    {
        await GetCountryDestinationsAsync(optionCountry);
    }

    protected async override Task OnInitializedAsync()
    {
        await PopulateContinentsDropdownAsync();
        if (SelectedContinent == null)
        {
            SelectedContinent = optionsContinents.Keys.First();
        }
        await PopulateCountriesDropdownAsync(SelectedContinent);
        if (SelectedCountry == null) 
        {
            SelectedCountry = optionsCountries.Keys.First();
        }
        await GetCountryDestinationsAsync(SelectedCountry);

    }

    private async Task<Result<T?>> GetItemsFromApiRequestAsync<T>(string apiRequestUrl) 
    {
        using var client = _httpFactory.CreateClient();
        var result = await HelperRequest.SendGetRequestAndParseJsonAsync<T>(apiRequestUrl, client);

        return result;
    }

    private async Task PopulateContinentsDropdownAsync() 
    {
        var result = await GetItemsFromApiRequestAsync<IEnumerable<ContinentDTO>>("/api/continents");
        if (result.IsSuccessful)
        {
            optionsContinents = new Dictionary<string, int?>();
            result.Value?.ToList().ForEach(el => { optionsContinents.Add(el.Name, el.Id); });
        }
        else 
        {
            Error = result.Error;
        }
    }

    private async Task PopulateCountriesDropdownAsync(string continent) 
    {
        var result = await GetItemsFromApiRequestAsync<IEnumerable<CountryDTO>>($"/api/countries/{continent}");
        if (result.IsSuccessful)
        {
            optionsCountries = new Dictionary<string, int?>();
            result.Value?.ToList().ForEach(el => {  optionsCountries.Add(el.Name, el.Id); });
        }
        else 
        {
            Error = result.Error;
        }
    }

    private async Task GetCountryDestinationsAsync(string countryName) 
    { 
        if (!String.IsNullOrEmpty(countryName))
        {
            using var httpClient = _httpFactory.CreateClient();

            var result = await HelperRequest.SendGetRequestAndParseJsonAsync<IEnumerable<DestinationDTO>>($"api/Destinations/{countryName}", httpClient);
            if (result.IsSuccessful)
            {
                countryDestinations = result.Value?.ToList();
                await GetAvailableTripsForEachDestinationAsync();
            }
            else
            {
                Error = result.Error;
            }
        }
    }

    private async Task GetAvailableTripsForEachDestinationAsync()
    {
        @if (countryDestinations?.Count() > 0)
        {
            tripsToDestination = new Dictionary<string, IEnumerable<TripDTO>>();
            foreach (var destination in countryDestinations)
            {
                using var httpClient = _httpFactory.CreateClient();

                var result = await HelperRequest.SendGetRequestAndParseJsonAsync<IEnumerable<TripDTO>>($"api/Trips/{destination.Code}", httpClient);
                if (result.IsSuccessful)
                {
                    tripsToDestination.Add(destination.Code, result.Value);
                }
                else
                {
                    tripsToDestination.Add(destination.Code, null);
                    Error = result.Error;
                }
            }
        }
    }
}
